@font-face {
    font-family: 'SEGA LOGO FONT';
    src: local('SEGA LOGO FONT'), url('../components/SEGA.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: 'SEGA LOGO FONT';
    color: aqua;
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}